################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnsekEnergy/.vs/EnsekEnergy/FileContentIndex/22124e0a-dd51-45f4-af17-1f1ad28e9073.vsidx
/EnsekEnergy/.vs/EnsekEnergy/FileContentIndex/279dcff2-af42-41d3-bea9-858d2f9e4c59.vsidx
/EnsekEnergy/.vs/EnsekEnergy/FileContentIndex/4ef25e5b-cbc6-4e5d-97a1-ce3096cd6704.vsidx
